[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]


[packages]
streamlit = "*"
sklearn = "*"
heroku = "*"
toml = "==0.10.0"
opencv-python = "*"


[requires]
python_version = "3.6"
